@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <!-- Our  Glasses section -->
    <div class="glasses">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Bienvenido a tu biblioteca</h2>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass1.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>750</h3>
                        <p>Ricardo Camacho</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass2.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>680</h3>
                        <p>Rowan Everly</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass3.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>950</h3>
                        <p>Julio Rojas</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass4.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>489</h3>
                        <p>Jon Klassen</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass6.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>750</h3>
                        <p>Carlos Pinto</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass7.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>230</h3>
                        <p>Sthepen King</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass8.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>50</h3>
                        <p>Katerrine Applegate</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass5.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>620</h3>
                        <p>Charlottes</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- end Our  Glasses section -->
</main>