@{
    ViewBag.Title = "Home Page";
}



<main>
    <!-- banner -->
    <section>
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="text-bg">
                                <figure class="banner">
                                    <img src="~/Content/Imagenes/banner_img.jpeg" alt="#">
                                    <figcaption>
                                        <h1><span class="blu">BIENVENIDO <br></span>"Donde Cada Libro Cuenta su Historia"</h1>
                                        <a class="read_more" href="~/Views/Home/Biblioteca.cshtml">Ir a Bibloteca</a>
                                    </figcaption>
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="text-bg">
                                <figure class="image-container">
                                    <img src="~/Content/Imagenes/banner_img.jpeg" alt="#">
                                    <figcaption>
                                        <h1><span class="blu">BIENVENIDO <br></span>"Tu Santuario Literario en el Mundo Digital"</h1>
                                        <a class="read_more" href="~/Views/Home/Biblioteca.cshtml">Ir a Bibloteca</a>
                                    </figcaption>
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        </div>
    </section>
    <!-- end banner -->
    <!-- about section -->
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="about_img">
                        <figure><img src="~/Content/Imagenes/about_img.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="titlepage">
                        <h2>Acerca de nosotros</h2>
                        <p style="text-align: justify;">
                            En este pequeño espacio, nos apasiona conectar a los amantes de la lectura con el mundo de la literatura. Fundada con el propósito de llevar la magia de los libros a todos los rincones, nuestra librería virtual se ha convertido en un santuario literario en el mundo digital.
                            Nos enorgullecemos de ofrecer una amplia selección de obras literarias, desde clásicos atemporales hasta las últimas novedades editoriales, abarcando géneros que inspiran, entretienen y despiertan la imaginación.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section -->
    <!-- Our  Glasses section -->
    <div class="glasses">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Libros mas leidos</h2>
                        <p style="text-align: justify;">Estos libros han cautivado a lectores de diversas épocas y continúan siendo referencias literarias fundamentales por su impacto cultural, sus temas atemporales y sus narrativas cautivadoras.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass1.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>750</h3>
                        <p>Ricardo Camacho</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass2.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>680</h3>
                        <p>Rowan Everly</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass3.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>950</h3>
                        <p>Julio Rojas</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass4.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>489</h3>
                        <p>Jon Klassen</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass6.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>750</h3>
                        <p>Carlos Pinto</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass7.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>230</h3>
                        <p>Sthepen King</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass8.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>50</h3>
                        <p>Katerrine Applegate</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/Imagenes/glass5.jpg" alt="#" /></figure>
                        <h3><span class="blu">$</span>620</h3>
                        <p>Charlottes</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="#">Mas</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end Our  Glasses section -->
    <!-- Our shop section -->
    <div id="about" class="shop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="shop_img">
                        <figure><img src="~/Content/Imagenes/shop_img.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-7 padding_right0">
                    <div class="max_width">
                        <div class="titlepage">
                            <h2>Reseñas del libro </h2>
                            <p style="text-align: justify;">
                                La historia se centra en Jackson, un niño cuya familia está atravesando dificultades económicas.
                                medio de esta situación complicada, aparece Crenshaw, un gato gigante y parlante que Jackson conoce desde hace años. A través
                                de la relación entre Jackson y Crenshaw, el libro aborda temas como la amistad, la imaginación, la empatía y la lucha contra las
                                dificultades.
                                La obra destaca por su sensibilidad al abordar temas complejos como la falta de vivienda, la lucha contra la pobreza y los desafíos
                                que enfrentan muchas familias. A través de la voz del personaje principal, Katherine Applegate logra crear una historia conmovedora
                                que invita a la reflexión sobre la compasión, la imaginación y la resiliencia en tiempos difíciles.
                            </p>
                            <a class="read_more" href="#">Ir a Biblioteca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Our shop section -->
    <!-- clients section -->
    <div class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2> "Reflejos Literarios:? </h2>
                        <p>Instantes Inmortales de la Palabra"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="clients_box">
                                                    <figure><img src="~/Content/Imagenes/our.jpg" alt="#" /></figure>
                                                    <h3>"El Alquimista" - Paulo Coelho</h3>
                                                    <p>"Cuando tienes un deseo muy fuerte, el universo conspira para ayudarte a lograrlo, y eso sucede porque tu deseo es la manifestación de tu destino, y el destino es el camino trazado por Dios, y nadie puede escapar de su destino."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="clients_box">
                                                    <figure><img src="~/Content/Imagenes/our1.jpg" alt="#" /></figure>
                                                    <h3>"Orgullo y Prejuicio" - Jane Austen</h3>
                                                    <p>"Es una verdad universalmente reconocida que un hombre soltero, poseedor de una gran fortuna, necesita una esposa."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="clients_box">
                                                    <figure><img src="~/Content/Imagenes/our2.jpg" alt="#" /></figure>
                                                    <h3> "El Amor en los Tiempos del Cólera" de Gabriel García Márquez:</h3>
                                                    <p>"Piensa en esto: cuando queremos algo con mucha intensidad, el universo entero conspira para ayudarnos a conseguirlo. Este es el principio fundamental del amor. Y cuando encontramos ese amor verdadero, ese amor eterno, ningún obstáculo en la vida puede separarnos de él, ni siquiera el tiempo."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <i class='fa fa-angle-left'></i>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <i class='fa fa-angle-right'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end clients section -->
    <div class="container-fluid">
        <div class="map_section">
            <div id="map">
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- end contact section -->
</main>